<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 配置mybatis sessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:mybatis/**/*Dao.xml"/>
		<!-- 指定别名包 -->
		<property name="typeAliasesPackage" value="com.yanxiu.ce.system.entity,
												   com.yanxiu.ce.core.basic.entity,
												   com.yanxiu.ce.core.score.entity,
												   com.yanxiu.ce.core.mq.entity,
												   com.yanxiu.ce.core.train.entity,
												   com.yanxiu.ce.core.statistics.entity,
												   com.yanxiu.ce.core.statistics.dto,
												   com.yanxiu.ce.test.entity"/>
	</bean>
	
    <!-- mybatis scanner -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="com.yanxiu.ce" />
    	<property name="annotationClass" value="com.yanxiu.ce.common.mybatis.annotation.MybatisDao"/>
	</bean>
	
</beans>
